@import 'fonts.css';
@import 'maps.css';
@import 'tinymce.css';
@import 'swiper.css';
@import 'backgrounds.css';
@import 'timepicker.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

html {
    scroll-behavior: smooth;
}

* {-webkit-tap-highlight-color: transparent;}

h1 {
    @apply
        font-fredoka-semibold font-normal text-pink-red text-center leading-[46px] md:leading-[76px]
        text-4xl md:text-7xl;
}

h2 {
    @apply
        font-fredoka-semibold font-normal text-pink-red tracking-[-0.005em]
        leading-[1.05em]
        text-[40px] md:text-5xl;
}

h3 {
    @apply text-black-primary md:text-3xl text-center font-sans-medium font-normal;
}

h4 {
    @apply md:text-2xl text-[22px] text-black-primary font-normal;
}

h5 {
    @apply font-fredoka-semibold font-normal text-pink-red text-[28px] text-center;
}

.btn {
    @apply rounded-xl text-xl px-12 py-4 font-sans-bold;
}

.tab {
    @apply rounded-[10px] text-base py-[14px] px-6 font-normal text-black-primary border-pink-red border hover:bg-pink-red-secondary;
}

.tab.active {
    @apply bg-pink-red text-white font-sans-bold font-bold;
}

.btn-red {
    @apply bg-pink-red text-white hover:bg-pink-red-medium font-bold text-lg md:text-xl;
}

.btn-border {
    @apply inline-block rounded-[10px] text-base py-[14px] px-6 font-normal text-black-primary border-pink-red border hover:bg-pink-red-secondary;
}

.btn-black {
    @apply bg-black-ci text-white hover:bg-pink-red font-bold text-lg md:text-xl;
}


/* SEARCH */

.search-input-group {
    @apply relative rounded-lg bg-gray-primary border-gray-secondary border;
}

    .search-input-group:not(:first-child) {
        @apply md:before:content-[''] md:before:w-[14px] md:before:h-[14px] md:before:absolute md:before:top-[50%] md:before:left-[-18px] lg:before:left-[-24px] before:translate-y-[-50%] before:bg-[url('/images/icons/arrow-right-gray.svg')] before:bg-no-repeat before:bg-center before:bg-contain;
    }

    .search-input-group.active {
        @apply bg-white border-black;
    }


.search-input-set {
    @apply relative flex-1 cursor-pointer h-[70px];
}

    .search-input-set:nth-child(2) {
        @apply relative
               before:content-[''] before:absolute before:top-[20%] md:before:left-[-0.27rem] before:inline-block before:w-[1px] before:h-[60%] before:bg-gray-secondary;
        ;
    }

.search-input-label {
    @apply absolute w-full top-[9px] text-center;
}


.search-input-label label {
    @apply font-sans-medium text-lg leading-tight cursor-pointer transition-all duration-200 ease-in-out;
}

.search-input {
    @apply
        absolute top-[38px] z-10
        cursor-pointer
        w-full
        text-sm lg:text-base text-center
        bg-transparent border-0 ring-0 
        focus:outline-none focus:ring-0 focus:border-transparent
        caret-transparent
        py-0
        px-1.5
        placeholder:text-gray-light placeholder:text-base
        whitespace-nowrap
        overflow-hidden
        text-ellipsis
}

 #set-locations .search-input-set:not(.active) .search-input {
    @apply top-[40px]
 }

    /* Active */
    
    .search-input-set.active .search-input-label {
        @apply top-[7px];
    }
    .search-input-set.active .search-input-label label {
        @apply text-pink-red text-sm;
    }

    .search-input-set.active .search-input {
        @apply top-[37px] text-base lg:text-[17px] font-sans-medium;
    }

    #set-dates .search-input-set.active .search-input,
    .mobile-dates .search-input-set.active .search-input {
        @apply hidden;
    }
    
    #set-dates .search-input-set.active .selected,
    #mobile-dates .search-input-set.active .selected {
        @apply inline-block absolute bottom-[10px] w-full z-10 cursor-pointer;
    }

    .easepick-wrapper {
        position: unset !important;
        @apply inline-block w-full;
    }

#resume label {
    @apply text-gray-light font-sans
}
    
        #resume .resume-selected {
            @apply text-black
        }
    
        #resume select {
            @apply w-full h-full border-none text-transparent bg-transparent bg-none p-0 ring-0 focus:ring-0;
        }
    
        #resume .search-info {
            @apply absolute top-0 left-0 w-full h-full flex items-center px-[5%]
        }
    
        #resume .search-input-label {
            position: unset;
            @apply w-auto
        }
        #resume .search-input-label label {
            @apply text-black
        }
        
        #resume .resume-selected {
            position: unset;
            @apply inline-flex items-baseline justify-center gap-0.5 flex-1 pr-[2px]
        }
    
        #resume .mobile-dates .search-input-set.active .selected {
            @apply inline-block flex-1
        }
    
        #resume .select-arrow {
            @apply translate-y-[3px]
        }


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
    display:none;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

/**
 * Class to expand a div the total width of the screen overriding its parents widht
 */
.w-fill-screen {
    @apply w-screen relative left-[calc(-50vw+50%)]
}


@media screen(md) {
    /**
    * Class to unset the w-fill-screen class only in 'md' resolution
    */
    .md-w-fill-screen-inverse {        
        @apply w-full relative left-auto
    }
}

.title-shadow {
    text-shadow: 20px 22px 12px rgba(0, 0, 0, 0.02), 11px 12px 10px rgba(0, 0, 0, 0.07), 5px 5px 7px rgba(0, 0, 0, 0.12), 1px 1px 4px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.14);
}

.gradient-pink:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, rgba(225, 17, 102) -20%, rgba(0,0,0, 0.2) 45%, rgba(0,0,0, 0) 70%);
}

picture img {
    width: 100%;
}

.image-wrapper {
    overflow: hidden;
}

    .image-wrapper > img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 0
    }

    .image-wrapper picture {
        display: inline-block;
        width: 100%;
        height: 100%
    }

    .image-wrapper picture img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 0
    }


.searchbar-popover {
    @apply overflow-hidden transition-[height] duration-300 ease-in-out;
}

.searchbar-popover.hidden  {
    @apply !h-0;
}

.searchbar-popover.position-top {
    @apply top-full
}

.searchbar-popover.position-bottom {
    @apply bottom-full
}

.searchbar-popover .searchbar-popover__layer {
    @apply 
        bg-white mx-auto pointer-events-auto
        rounded-t-[20px] rounded-b-none md:rounded-none
        fixed top-[72px] md:relative md:top-0 
        z-[99];
}

.searchbar-popover.position-top .searchbar-popover__layer {
    @apply md:rounded-b-[20px];
}

.searchbar-popover.position-bottom .searchbar-popover__layer {
    @apply md:rounded-t-[20px];
}

    @media (max-width: 767px) {
        .searchbar-popover .searchbar-popover__layer {
            box-shadow: 0 -5px 9px 0 rgba(0,0,0,0.1);
            height: calc(100dvh - 72px);
        }

        .searchbar-popover .easepick-wrapper {
            overflow: auto;
        }
    }

.toggle-selector {
    @apply relative text-gray-light text-xs py-2 px-4;
}
.toggle-selector.active {
    @apply text-white;
}

.different-location-true {
    @apply !flex;
}

.different-location-true .location__image {
    @apply h-[75px]
}

.different-location-true .location__text {
    @apply py-2
}

.location.selected .location__image img,
.location:hover .location__image img {
    @apply scale-[120%]
}

.location.selected .location__text,
.location:hover .location__text {
    @apply bg-pink-red;
}

.location.selected .location__text p,
.location:hover .location__text p {
    @apply text-white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid white;
  -webkit-text-fill-color: #AAAAAA;
  -webkit-box-shadow: 0 0 0px 100px rgba(0,0,0,0) inset;
}

button {
    @apply disabled:opacity-50 disabled:cursor-not-allowed
}

.modal-open {
    height: 100dvh;
    @apply overflow-y-hidden
}