@import 'fonts.css';
@import 'maps.css';
@import 'tinymce.css';
@import 'swiper.css';
@import 'backgrounds.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

h1 {
    @apply
        font-fredoka-semibold text-pink-red text-center leading-[46px] md:leading-[76px]
        text-4xl md:text-7xl;
}

h2 {
    @apply
        font-fredoka-semibold text-pink-red tracking-[-0.005em]
        leading-[1.05em]
        text-[40px] md:text-5xl;
}

h3 {
    @apply text-black-primary md:text-3xl text-center font-sans-medium;
}

h4 {
    @apply md:text-2xl text-[22px] text-black-primary font-normal;
}

h5 {
    @apply font-fredoka-semibold text-pink-red text-[28px] text-center;
}

.btn {
    @apply rounded-xl text-xl px-14 py-5 font-sans-bold;
}

.tab {
    @apply rounded-[10px] text-base py-[14px] px-6 font-normal text-black-primary border-pink-red border hover:bg-pink-red-secondary;
}

.tab.active {
    @apply bg-pink-red text-white font-sans-bold font-bold;
}

.btn-red {
    @apply bg-pink-red text-white hover:bg-[#F42077] font-bold text-lg md:text-xl;
}

.btn-border {
    @apply inline-block rounded-[10px] text-base py-[14px] px-6 mt-10 font-normal text-black-primary border-pink-red border hover:bg-pink-red-secondary;
}

.btn-black {
    @apply bg-black-ci text-white hover:bg-pink-red font-bold text-lg md:text-xl;
}

.search-input-group {
    @apply relative h-[70px] flex-1 cursor-pointer hover:ring-pink-red hover:ring-2 rounded-lg bg-gray-primary border-gray-secondary border;
}

.search-input-group.active {
    @apply bg-white ring-pink-red ring-2
}

.search-input-group.active.stepped {
    @apply ring-black-primary
}

.search-input-group:focus-within {
    @apply ring-pink-red ring-2;
}

    .search-input-group > div {
        @apply z-0 absolute top-2 left-6;
    }
        .search-input-group > div > div:last-of-type {
            @apply text-gray-tertiary text-base font-sans font-normal;
        }

        .search-input-group.active > div > div:last-of-type {
            @apply hidden
        }

    .search-input-group input {
        @apply
            relative left-6 -bottom-3
            z-10
            cursor-pointer
            rounded-lg border-0 ring-0 focus:outline-none focus:ring-0 focus:border-transparent caret-transparent
            bg-transparent
            text-black-primary
            py-5
            px-0
            w-fit;
    }

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
    display:none;
}
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

/**
 * Class to expand a div the total width of the screen overriding its parents widht
 */
.w-fill-screen {
    @apply w-screen relative left-[calc(-50vw+50%)]
}


@media screen(md) {
    /**
    * Class to unset the w-fill-screen class only in 'md' resolution
    */
    .md-w-fill-screen-inverse {        
        @apply w-full relative left-auto
    }
}

.title-shadow {
    text-shadow: 20px 22px 12px rgba(0, 0, 0, 0.02), 11px 12px 10px rgba(0, 0, 0, 0.07), 5px 5px 7px rgba(0, 0, 0, 0.12), 1px 1px 4px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.14);
}

.gradient-pink:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, rgba(225, 17, 102) -20%, rgba(0,0,0, 0.2) 45%, rgba(0,0,0, 0) 70%);
}

picture img {
    width: 100%;
}

.image-wrapper {
    overflow: hidden;
}

    .image-wrapper > img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 0
    }

    .image-wrapper picture {
        display: inline-block;
        width: 100%;
        height: 100%
    }

    .image-wrapper picture img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 0
    }

