@font-face {
    font-family: 'CabinSemiBold';
    src: url('/fonts/Cabin/Cabin-SemiBold.ttf');    
    font-weight: 600;    
}

@font-face {
    font-family: 'DMSansBold';
    src: url('/fonts/DMSans/DMSans-Bold.ttf');
}

@font-face {
    font-family: 'DMSansBoldItalic';
    src: url('/fonts/DMSans/DMSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'DMSansItalic';
    src: url('/fonts/DMSans/DMSans-Italic.ttf');
}

@font-face {
    font-family: 'DMSansMedium';
    src: url('/fonts/DMSans/DMSans-Medium.ttf');
}

@font-face {
    font-family: 'DMSansMediumItalic';
    src: url('/fonts/DMSans/DMSans-MediumItalic.ttf');
}

@font-face {
    font-family: 'DMSansRegular';
    src: url('/fonts/DMSans/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'FredokaBold';
    src: url('/fonts/Fredoka/Fredoka-Bold.ttf');        
}


@font-face {
    font-family: 'FredokaLight';
    src: url('/fonts/Fredoka/Fredoka-Light.ttf');        
}


@font-face {
    font-family: 'FredokaMedium';
    src: url('/fonts/Fredoka/Fredoka-Medium.ttf');        
}


@font-face {
    font-family: 'FredokaRegular';
    src: url('/fonts/Fredoka/Fredoka-Regular.ttf');        
}


@font-face {
    font-family: 'FredokaSemiBold';
    src: url('/fonts/Fredoka/Fredoka-SemiBold.ttf');              
}

@font-face {
    font-family: 'FredokaOne';
    src: url('/fonts/FredokaOne/FredokaOne-Regular.ttf');    
}
