@font-face {
    font-family: 'FredokaOne';
    src: url('/fonts/FredokaOne/FredokaOne-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url('/fonts/DMSans/DMSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka/Fredoka-Regular.ttf');    
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Cabin-SemiBold';
    src: url('/fonts/Cabin/Cabin-SemiBold.ttf');    
    font-weight: 600;    
}